<!-- Form actions layout section start -->
<section id="form-action-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="from-actions-bottom-right">Registro de productos</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-4 mb-2">
                                        <label for="projectinput5">Producto No.:</label>
                                        <input type="text" id="projectinput5" class="form-control" placeholder="Producto numero" name="serie">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="categoria">Categoria</label>
                                        <select name="categoria" class="form-control">
                                            <option *ngFor="let c of Categorias" value="c.id"> {{c.name}} </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="marca">Marca</label>
                                        <!--<ng-select #agesSelect [items]="MarcasLista" [selectOnTab]="true" bindValue="id" labelForId="name" placeholder="Select age" formControlName="age">
                                        </ng-select>
                                        <ng-select [items]="MarcasLista" class="ng-select-list" bindLabel="name" bindValue="id">
                                        </ng-select>-->
                                        <select name="marca" class="form-control">
                                            <option *ngFor="let m of MarcasLista" value="m.id"> {{m.name}} </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="modelo">Modelo</label>
                                        <select name="modelo" class="form-control">
                                            <option *ngFor="let mo of Modelos" value="mo.id"> {{mo.name}} </option>
                                        </select>
                                    </div>
                                </div>
                                <h4 class="form-section"><i class="ft-file-text"></i> Detalles del Producto</h4>

                                <div class="row">
                                    <div class="row form-group col-md-8 mb-0 mt-0">
                                        <div class="form-group col-12 mb-0 mt-0">
                                            <label for="projectinput5">Company</label>
                                            <input type="text" id="projectinput5" class="form-control" placeholder="Company Name" name="company">
                                        </div>
                                        <div class="form-group col-12 mb-0 mt-0">
                                            <label for="Imei">Imei</label>
                                            <input type="text" class="form-control" placeholder="Imei" name="Imei">
                                        </div>
                                        <div class="form-group col-12 mb-0 mt-0">
                                            <label for="projectinput5">Serie</label>
                                            <input type="text" class="form-control" placeholder="Numero de Serie" name="Serie">
                                        </div>

                                            <div class="form-group col-md-6">
                                                <label for="capacidad">Capacidad</label>
                                                <select name="capacidad" class="form-control">
                                               <option *ngFor="let r of Rom" value="r.id"> {{r.name}} GB </option>
                                            </select>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Pantalla</label>
                                                <input type="text" class="form-control" placeholder="Pantalla" name="pantalla">
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Procesador</label>
                                                <input type="text" class="form-control" placeholder="Procesador" name="procesador">
                                            </div>

                                            <div class="form-group col-md-6">
                                              <label for="OS">OS</label>
                                              <select name="OS" class="form-control">
                                                <option *ngFor="let o of OS" value="o.id"> {{o.name}}</option>
                                              </select>
                                            </div>

                                    </div>

                                    <div class="form-group col-md-4">
                                        <label>Carateristicas</label>

                                        <div *ngFor="let ca of Caracteristicas">
                                            <label class="custom-control custom-checkbox mt-0" [ngClass]="{'ml-0': ca.source}">
                                                <input *ngIf="!ca.source" type="checkbox" name="ca.idname" value="ca.id" class="custom-control-input">
                                                    <span *ngIf="!ca.source" class="custom-control-indicator"></span>
                                                      {{ ca.name }}
                                                      <span *ngIf="ca.source" (click)="isCollapsed = !isCollapsed"
                                                      [attr.aria-expanded]="!isCollapsed"><i class="fa fa-angle-down"></i>
                                                    </span>
                                            </label>

                                            <div *ngFor="let cac of ca.source" id="collapseExample" [ngbCollapse]="isCollapsed" class="ml-3">
                                                <label class="custom-control custom-checkbox mt-0">
                                                  <input type="checkbox" name="cac.idname" value="cac.id" class="custom-control-input">
                                                      <span class="custom-control-indicator"></span>
                                                      {{ cac.name }}
                                                </label>
                                              </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6 mb-2">
                                        <label for="projectinput6">Interested in</label>
                                        <select id="projectinput6" name="interested" class="form-control">
                                    <option value="none" selected="" disabled="">Interested in</option>
                                    <option value="design">design</option>
                                    <option value="development">development</option>
                                    <option value="illustration">illustration</option>
                                    <option value="branding">branding</option>
                                    <option value="video">video</option>
                                </select>
                                    </div>

                                    <div class="form-group col-md-6 mb-2">
                                        <label for="projectinput7">Budget</label>
                                        <select id="projectinput7" name="budget" class="form-control">
                                    <option value="0" selected="" disabled="">Budget</option>
                                    <option value="less than 5000$">less than 5000$</option>
                                    <option value="5000$ - 10000$">5000$ - 10000$</option>
                                    <option value="10000$ - 20000$">10000$ - 20000$</option>
                                    <option value="more than 20000$">more than 20000$</option>
                                </select>
                                    </div>
                                </div>

                                <h4 class="form-section"><i class="ft-camera"></i> Imagenes del Producto</h4>

                                <div class="row">
                                    <!--File Upload Starts-->
                                    <div class="card-block" id="file-upload">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="mb-12">
                                                    <input type="file" (change)="Mostrar()" ng2FileSelect [uploader]="uploader" multiple accept="image/*" name="img" #img hidden>
                                                    <button type="button" class="btn btn-raised btn-primary" (click)="img.click()">
                                                            <i class="ft-camera"></i> Seleccionar Imagen {{ uploader?.queue?.length }}
                                                    </button>
                                                </label>
                                            </div>

                                            <div class="col-md-12">
                                                <table class="table col-md-12">
                                                    <thead>
                                                        <tr>
                                                            <th width="30%">Nombre</th>
                                                            <th>Tamaño</th>
                                                            <th>Progreso</th>
                                                            <th>Estado</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of uploader.queue">
                                                            <td><strong>{{ item?.file?.name }}</strong></td>
                                                            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                                            <td *ngIf="uploader.isHTML5">
                                                                <div class="progress" style="margin-bottom: 0;">
                                                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <span *ngIf="item.isSuccess"><i class="fa fa-ok"></i></span>
                                                                <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                                                                <span *ngIf="item.isError"><i class="fa fa-remove"></i></span>
                                                            </td>
                                                            <td nowrap>
                                                                <button type="button" class="btn btn-raised btn-success btn-sm" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                                        <span class="fa fa-upload"></span> Subir
                                                                </button>
                                                                <button type="button" class="btn btn-raised btn-warning btn-sm" (click)="item.cancel()" [disabled]="!item.isUploading">
                                                                        <span class="fa fa-ban"></span> Cancelar
                                                                </button>
                                                                <button type="button" class="btn btn-raised btn-danger btn-sm" (click)="item.remove()">
                                                                        <span class="fa fa-trash"></span> Remover
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <div>
                                                    <p>Progreso:
                                                        <!--<ngb-progressbar type="primary" [value]="uploader.progress"></ngb-progressbar>-->
                                                    </p>
                                                    <button type="button" class="btn btn-raised btn-success" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                                            <span class="fa fa-upload"></span> Subir todo
                                                        </button>
                                                    <button type="button" class="btn btn-raised btn-warning" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                                            <span class="fa fa-ban"></span> Cancelar todo
                                                        </button>
                                                    <button type="button" class="btn btn-raised btn-danger" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                                            <span class="fa fa-trash"></span> Remover todo
                                                        </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--File Upload Ends-->
                                </div>
                                <div class="row">
                                    <div class="form-group col-12 mb-2">
                                        <label for="projectinput9">About Project</label>
                                        <textarea id="projectinput9" rows="5" class="form-control" name="comment" placeholder="About Project"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <button type="button" class="btn btn-raised btn-warning mr-1">
                              <i class="ft-x"></i> Cancelar
                            </button>
                                <button type="button" class="btn btn-raised btn-primary">
                                <i class="fa fa-check-square-o"></i> Guardar
                            </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Form actions layout section end -->
